
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    height:100vh;
    width:100vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:50px;
    background-color: black;
    font-family: 'Neonderthaw', cursive;
}

h1 {
    font-family: 'Neonderthaw', cursive;
}

.startPage {
    height:100vh;
    width:100vw;
    color:white;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:auto;
    z-index:1;
    font-size: 50px;
}

.startButton {
    height:50px;
    width:200px;
    background-color: transparent;
    box-shadow:2px 2px 100px greenyellow;
    margin-top:50px;
    border:1px solid greenyellow;
    cursor:pointer;
    color:greenyellow;
    font-family: 'Neonderthaw', cursive;
    font-size:2rem;
}

.startPage .title {
    font-size: 100px;
    animation:pulse 2.5s infinite alternate;
}

#computer {
    margin-right:100px;
    padding:0;
    width:25px;
    height:25px;
}

input, label {
    height:30px;
    width:400px;
}

.game-panel {
    display:flex;
    flex-direction: column;
    gap:30px;
}
.score {
    color:white;
    font-size:50px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left:50px;
    color:greenyellow;
}

.score-title {
    border-bottom:1px solid greenyellow;
    display:flex;
    justify-content: center;
}

.modal {
    height:100vh;
    width:100vw;
    background-color:rgba(0,0,0,0.7);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position:fixed;
}

.modal-text {
    color:white;
    height:50%;
    width:100%;
    display:flex;
    align-items: flex-end;
    justify-content: center;
    font-size:5rem;
    font-family: 'Pacifico', cursive;
}

.restart-container {
    display:flex;
    justify-content: center;
    
}

.restart-button {
    height:50px;
    width:100px;
    background-color: rebeccapurple;
    color:white;
    display:block;
    cursor:pointer;
}

@keyframes pulse {

100% {
    text-shadow:
      0 0 4px #adff2f,
      0 0 11px #adff2f,
      0 0 19px #adff2f,
      0 0 40px #adff2f;
  }
  0% {
    text-shadow:
      0 0 2px #adff2f,
      0 0 4px #adff2f,
      0 0 6px #adff2f,
      0 0 10px #adff2f;
}
}

.title {
    color:greenyellow;
    font-size: 2rem;
    text-shadow: 0px 0px 20px;
    font-weight: 200;
}

.container {
    height:50vh;
    width:30vw;
    display:grid;
    grid-template-columns: repeat(3,1.5fr);
    grid-template-rows: repeat(3,1.5fr);
    box-shadow: 0px 0px 50px greenyellow;
}

.cornerBorder {
    border-right:5px solid greenyellow;
    border-bottom:5px solid greenyellow;
}

.bottomBorder {
    border-bottom:5px solid greenyellow;
}

.borderRight {
    border-right:5px solid greenyellow;

}

.box {
    font-size:2rem;
    background-color: black;
    color:white;
    display:flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    font-family: 'Pacifico', cursive;
}

.box:hover {
    background-color: rgba(154,205,50,0.3);
}

.player-container {
    display:flex;
}

.playerOneScore,.playerTwoScore {
    margin-left:20px;
}

.back-to-start {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.back-to-start button {
    height:50px;
    width:300px;
    color:greenyellow;
    background-color:transparent;
    border:1px solid yellowgreen;
    box-shadow:0px 0px 10px yellowgreen;
    font-family: 'Neonderthaw', cursive;
    font-size:30px;
    cursor: pointer;
    margin-right:40px;
}

